{% extends 'unlabel/base.html' %}
{% block page-title %}Add Album{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/add-album.css" %}"/>{% endblock %}
{% block content %}
    <main>
        <section class="left">
            <form method="post" action="{% url 'unlabel:add_album' artist.id %}">
                {% csrf_token %}
                <input type="hidden" name="artistId" value="{{ artist.id }}">
                <p class="login">Add an album</p>
                <div class="album-info">
                    <label for="album-art">Album Art</label><br>
                    <input required type="text" placeholder="Album Art" name="album-art" id="album-art"/><span>.jpg/png</span>
{#                    <button>Upload</button>#}<br>
                    <label for="album-name">Album Name</label><br>
                    <input required type="text" placeholder="Album Name" name="album-name" id="album-name"/>
                </div>
                <div class="songs-info">
                    <label for="song-name">Song Names</label><br>
                    <input type="text" placeholder="Song Name" name="song-name" id="song-name"/>
                    <input type="text" placeholder="Song Name" name="song-name" id="song-name"/>
                    <input type="text" placeholder="Song Name" name="song-name" id="song-name"/>
                    <input type="text" placeholder="Song Name" name="song-name" id="song-name"/>
                    <button class="add" type="submit">Add Album</button>
                </div>
            </form>
        </section>
        <section class="right">
            <p>Hello,</p>{{ artist.artistName }}
            <img src="{% static artist.artistImage %}">
        </section>
    </main>
{% endblock %}